body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  padding-top: 15px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  border-top: 1px solid #eee;
  background-color: #D8A44A;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f39c12;
  border-color: #ddd;
}

.navbar-default {
  background-color: #9E680A;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}
.panel-heading{
  background-color: #f5f5f5;
  border-color: #ddd;
 }

